<label for="">{{ element.getLabel()|trans }}</label>
<input type="text"
       name="{{ element.getKey() }}"
       {% if element.isDisabled() %}disabled{% endif %}
       value="{{ element.getValue() }}"
       placeholder="{{ element.getPlaceholder()|trans }}"
       class="form-control"
       >
{% if element.getError() != null %}
    <span class="help-block">{{ element.getError() }}</span>
{% endif %}
